<table class="table">
  <thead>
  <tr>

    <th>TITLE</th>
    <th>AUTHOR</th>
    <th>POSITION</th>
    <th>NO OF WEEKS</th>
  </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
  <tr>

    <th><%=book.title %></th>
    <th><%=book.author %></th>
    <th><%=book.position %></th>
    <th><%=book.weeks %></th>
  </tr>
    <% end %>
  </tbody>
</table>
